.header {
  width: 380px;
  height: 100vh;
  position: fixed;
  background-color: map-get($colors, "black");
  z-index: 1;

  &__wrapper{
    position: relative;
    padding-right: 75px;
  }


  .desktop-menu{
      position: relative;
      z-index: 2;
      padding-top: 3rem;
  }
}
