  // .contact-form {
  //   padding: 65px;
  //   background-color: #024a80;
  // }

  // .contact-form input,
  // .contact-form textarea {
  //   border: 0;
  //   border-bottom: 2px solid #fff;
  //   padding-top: 0.8rem;
  //   padding-bottom: 0.8rem;
  //   margin: 10px 0;
  //   height: 2rem;
  //   font-size: 1rem;
  //   font-family: vazir;
  //   width: 100%;
  //   line-height: 2rem;
  //   background-color: transparent;
  //   color: #fff;
  //   outline: none;
  // }

  // .contact-form textarea {
  //   height: 150px;
  // }
  // .contact-form ::placeholder {
  //   color: beige;
  // }
