.article-holder {
  padding: 36px;
  background-color: map-get($colors, "gray");
  width: 47%;
  margin-left: 3%;
  margin-bottom: 2rem;

  .article-top {
    text-decoration: none;
    color: map-get($colors, "white");
    transition: color 250ms linear;
    &__image-holder {
      display: block;
      max-height: 340px;
      overflow: hidden;

      &--image {
        width: 100%;
        transition: transform 0.5s ease;

        &:hover {
          transform: scale(1.05);
          width: 100%;
        }
      }
    }

    &__title {
      font-size: 1.5rem;
      line-height: 2rem;
      color: map-get($colors, "blue");
      font-weight: 700;
      margin: 0;
      padding: 20px 0;
    }
  }

  .article-bottom {
    &__decription {
      font-size: 15px;
      color: map-get($colors, "light-blue");
      line-height: 30px;
      margin-bottom: 1rem;
    }

    &__link {
      width: 100%;
      text-align: center;
      &--title {
        color: map-get($colors, 'white' );
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
        text-decoration: none;
        transition: color 250ms linear;
        &:hover{
          color: map-get($colors, "blue" );
        }
      }
    }
  }
}
