$colors: (
  "black": #051923,
  "gray": #243b4a,
  "blue": #0582ca,
  "dark-blue": #024a80,
  "light-blue": #bfd1df,
  "pink": #faefff,
  "white": #fff,
);

@keyframes scroll {
  0% {
    top: 8px;
  }
  40% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.4;
  }
  80% {
    opactity: 0.2;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    top: 43px;
    opacity: 0;
  }
}

.section-title {
  font-size: 30px;
  line-height: 100%;
  margin: 0 0 1rem;
  padding-top: 0;
  color: map-get($colors, "blue");
  padding: 20px 0;
}
