$colors: (
  "black": #051923,
  "gray": #243b4a,
  "blue": #0582ca,
  "dark-blue": #024a80,
  "light-blue": #bfd1df,
  "pink": #faefff,
  "white": #fff,
);

@each $colorPrefix, $color in $colors {
  .color-#{$colorPrefix} {
    color: $color;
  }
  .bg-color-#{$colorPrefix}{
    background-color: $color;
  }
}

@keyframes scroll {
  0% {
    top: 8px;
  }
  40% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.4;
  }
  80% {
    opactity: 0.2;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    top: 43px;
    opacity: 0;
  }
}

.section-title {
  font-size: 30px;
  line-height: 100%;
  margin: 0 0 1rem;
  padding-top: 0;
  color: map-get($colors, "blue");
  padding: 20px 0;
}


$font-sizes: (
        0: 0.5rem,
        1: 0.625rem, // 10px
        2: 0.75rem, // 12px
        3: 0.813rem, // 13px
        4: 0.875rem, // 14px
        5: 1rem,
        6: 1.25rem, // 20px
        7: 1.5rem, // 24px
        8: 1.75rem,
        9: 1.875rem, // 30px
        10: 2rem, // 32px
        11: 3rem
);

@each $sizePrefix, $size in $font-sizes {
  .text-#{$sizePrefix}{
    font-size: $size;
  }
}


$font-weights: (
        '400': 400,
        '500': 500,
        '600': 600,
        '700': 700,
        '800': 800,
        'bold': bold
);

@each $weight, $font-weight in $font-weights {
  .font-weight-#{$weight} {
    font-weight: $font-weight;
  }
}

.lh-lg {
  line-height: 2em;
}
