.about {
  &__wrapper {
    .about-content {
      &__title {
        @extend .section-title;
      }
      &__text {
        color: map-get($colors, "light-blue");
        font-size: 15px;
        line-height: 30px;
        font-weight: 400;
        margin: 1em 0;
      }
      &__info {
        font-size: 22px;
        line-height: 35px;
        margin: 0;
        color: map-get($colors, "light-blue");
      }
      &__cta-holder{
          margin: 2rem 0;
      }
    }
  }
}
