.tech-stack {
    &__wrapper {
      .tech-stack-content {
        &__title {
          @extend .section-title;
        }
        &__text{
          font-size: 22px;
          line-height: 35px;
          margin: 0;
          color: map-get($colors, "light-blue" );
        }
      }
    }
  }